{{ if .Site.Data.home.problem.enable }}
{{with .Site.Data.home.problem}}
<div id="problem">
  <h2>{{.title}}</h2>
  <div class="pure-g">  
    <div class="pure-u-1-1">
      
      <p>{{.desc | safeHTML }}</p>
    </div>
    {{ range .blocks }}
      <div class="pure-u-1-5">
      	<img src="{{.img}}" alt="" class="pure-img mar1">
      </div>
      <div class="pure-u-4-5">
      	<div class="mar1 pad1">
	      	<h4>{{.title}}</h4>
	      	<p>{{.desc}}</p>
      	</div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}