<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

  {{ partial "head.html" . }}

  <body>
		{{ partial "nav.html" . }}
		<div id="#top"></div>
		{{ partial "hero.html" . }}
		{{ partial "main.html" . }}
		{{ partial "about.html" . }}
		
		{{ $service := .Site.Data.home.valuation }}
		{{ partial "service.html" (dict "service" $service "bd" "bg3") . }}
		{{ $service := .Site.Data.home.management }}
		{{ partial "service.html" (dict "service" $service "bd" "bg2") . }}
		{{ $service := .Site.Data.home.agency }}
		{{ partial "service.html" (dict "service" $service "bd" "bg4") . }}
		{{ $service := .Site.Data.home.auction }}
		{{ partial "service.html" (dict "service" $service "bd" "bg1") . }}
		
		
		
		{{ partial "portfolio.html" . }}
	  {{ partial "team.html" . }}    
		{{ partial "footer.html" . }}
		{{ partial "script.html" . }}
  </body>
</html>
